azure-common==1.1.28
azure-core==1.38.3
azure-functions==1.24.0
azure-identity==1.25.3
azure-keyvault-secrets==4.10.0
azure-mgmt-compute==37.2.0
azure-mgmt-containerregistry==15.0.0
azure-mgmt-containerservice==41.0.0
azure-mgmt-core==1.6.0
azure-mgmt-costmanagement==4.0.1
azure-mgmt-monitor==7.0.0
azure-mgmt-network==30.2.0
azure-mgmt-resource==25.0.0
azure-mgmt-resourcegraph==8.0.1
azure-mgmt-storage==24.0.0
azure-monitor-query==2.0.0
black==26.3.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
cryptography==46.0.5
et_xmlfile==2.0.0
flake8==7.3.0
idna==3.11
iniconfig==2.3.0
isodate==0.7.2
librt==0.8.1
MarkupSafe==3.0.3
mccabe==0.7.0
msal==1.35.1
msal-extensions==1.3.1
msrest==0.7.1
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.3
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.12.0
pytest==9.0.2
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6
